{{> cabezera}}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <hi>Prueba de About</hi>
    </div>

    <div class="col-4">
        <img src="assets/img/bk.png" class="img-thumbnail">
    </div>
</div>

{{> footer}}
    